/* Monica Cichon - SI 539 Mobile Deliverable - Client Project */


body {
     font-family: "Nunito Sans", sans-serif;
     color: #131516;
}

main p, main h2, main h3, main h4 {
     margin: 0px 20px;
}

main ul {
     margin: 0px 10px 0px 30px;
}

h1 {
     font-size: 1.875rem;
     font-weight: 600;
     padding: 30px 10px 10px 10px;
     text-decoration: underline solid #FFCB05 2px;
     text-align: center;
     text-underline-offset: 4px;

}

h2 {
     font-size: 1.25rem;
     font-weight: 600;
     padding: 20px 0px 20px 0px;
}

p, h3 {
     font-size: 1.125rem;
     padding: 10px 0px 20px 0px;
     line-height: 1.4;
}

h4 {
     font-size: 1.125rem;
     padding: 10px 0px 0px 0px;
     text-decoration: underline 2px #FFCB05;
     text-underline-offset: 4px;
}

h5 {
     font-size: 1.125rem;
     text-align: center;
     font-weight: 500;
     kerning: normal;
     text-decoration: underline double 1.5px #FFCB05;
     text-underline-offset: 4px;
}

ul li {
     font-size: 1.125rem;
     padding: 10px 0px;
     margin: 0px 20px 0px 10px;
     line-height: 1.4;
}

ol li {
     font-size: 1.125rem;
     padding: 10px 0px;
     margin: 0px 20px 0px 40px;
     line-height: 1.4;
}

.hero-image {
     width: 100%;
     height: auto;
     outline: #00274C solid 2px;
     padding: 0px;
     margin: 0px;
}

.skip-to-main a {
     background-color: #FFCB05;
     color: #00274C;
     font-weight: 500;
     top: -65px;
     position: absolute;
     padding: 10px;
     border-radius: 5px;
}

.skip-to-main a:focus {
     top: 25px;
}

.movie-frame {
     display: flex;
     align-items: center;
}

iframe, img {
     padding: 10px;
     height: 100%;
     width: 95%;
}

nav {
     background-color: #00274C;
     color: #FFFFFF;
     display: grid;
     justify-content: center;
     align-items: center;
     padding: 10px 5px;
}

.logo img {
     width: 100%;
     height: auto;
     max-width: 50px;
}

.nav-top {
  display: flex;
  align-items: center;
  gap: 5px;
  border-bottom: 2px solid white;
}

.CDO-title {
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.nav-bottom {
  margin-top: 10px;
}

footer {
     background-color: #00274C;
     color: #FFFFFF;
     display: flex;
     flex-wrap: wrap;
     gap: 10px;
     padding: 10px;
     align-items: center;
}

.UMSI-footer, footer .nav-links {
  flex: 1 1 200px;
  text-align: center;
}

.UMSI-footer p {
  margin: 0;
  font-size: 1.25rem;
}

footer .nav-links ul {
     list-style-type: none;
}

.centered-phrase {
     text-align: center;
}

.accordian-div {
     background-color: #f7f7f7;
     margin: 10px;
     padding: 10px;
     border-radius: 5px;
     border: 1px solid #00274C;
}

p ul {
    background-color: #e2e2e2; 
}

.resource-links li {
     margin: 5px 0px 15px 0px;
}

.resource-links li a {
     color: #131516;
     text-decoration: underline solid #FFCB05 3px;
     text-underline-offset: 4px;
     padding: 5px 15px 2px 5px;
     font-weight: 600;
     font-kerning: normal;
     cursor: pointer;
}

.resource-links a:visited {
  color: inherit;
  text-decoration: underline solid #FFCB05 3px;
  font-size: 1.5rem;
}

.handouts-grid {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr;
     gap: 10px;
     justify-content: center;
     align-items: center;
     margin: 10px 15px 20px 15px;
}

.handouts-grid-item {
     padding: 20px;
     text-align: center;
     text-decoration: none;
     color:#ffffff;
     background-color: #00274C;
     border-radius: 3px;
     line-height: 1.2;
}

.handouts-grid-item:nth-child(2), .handouts-grid-item:nth-child(3), .handouts-grid-item:nth-child(6) {
     padding: 20px;
     text-align: center;
     text-decoration: none;
     background-color: #FFCB05;
     color:#131516;
     border-radius: 3px;
}

.handouts-grid-item a:visited {
  color: inherit;
  text-decoration: none;
}

.interviews-grid {
     display: grid;
     grid-template-columns: repeat(2, 0.5fr);
     grid-template-rows: repeat(4, 1fr);
     gap: 10px;
     justify-content: center;
     margin: 10px 15px 20px 15px;
}

.interviews-grid-item {
     padding: 3px;
     padding-top: 10%;
     text-align: center;
     text-decoration: none;
     color:#131516;
     border: 2px solid #00274C;
     border-radius: 3px;
     line-height: 1.2;
}

.interviews-grid-item p {
     font-size: 1rem;
}

.interviews-grid p {
     padding-top: 15%;
}
/* I wanted to turn the Resume FAQ and Cover Letter FAQsection into an accordian and referred to the code 
on the website https://prismic.io/blog/css-accordions */

.accordion {
  max-width: 500px;
  margin: 20px auto;
  border: 1px solid #00274C;
  border-radius: 8px;
  overflow: hidden;
}

details {
  border-bottom: 1px solid #00274C;
}

details:last-of-type {
  border-bottom: none;
}

summary {
  font-size: 1.125rem;
  padding: 12px 16px;
  cursor: pointer;
  font-weight: 600;
  list-style: none;
  line-height: 1.5;
}

summary:hover {
  background-color: #e2e2e2;
}

details[open] summary {
  background-color: #e2e2e2;
}

details p {
  padding: 12px 16px;
  margin: 0;
  background-color: #fff;
  line-height: 1.5;
}

/* End: accordian code from https://prismic.io/blog/css-accordions */

/* To figure out how to keep text the same color after clicking on it, I looked at the code in this
Stack Overflow: https://stackoverflow.com/questions/8188060/how-to-make-link-not-change-color-after-visited */
nav a, nav a:visited, footer a, footer a:visited {
    color: inherit;
    font-weight: 100;
    text-decoration: none;
}

.mini-note {
     outline: solid 4px #FFCB05;
     outline-offset: 2px;
     font-weight: 500;
     text-align: center;
     border-radius: 2px;
     margin: 40px 20px;
     padding: 5px;
}